{% extends "base.html" %} 

{% block titulo %}John Serrano | Certificados{% endblock %}

{% block encabezado %}
<!-- <section class="imagen-header">
	 <img src="{{STATIC_URL}}img/cabecera.jpg" alt="Fondo" title"John Serrano"/> 
</section> -->
<script type="text/javascript">
	
		var cer = 0;
		var control5 = setInterval(cambiarSlider6, 5000);

		function cambiarSlider6(){
			cer++;
			if(cer == $(".certificados img").size()){
				cer = 0;
			}
			$(".certificados img").hide();
			$(".certificados img").eq(cer).fadeIn("medium");
		}
</script>
{% endblock %}

{% block contenido %}
	 <div id="sliderCertificados" class="certificados">
	 		{% for img in certificados %}
            	<img src="/media/{{img.imagen}}" alt="{{img.imagen}}">
	 		{% endfor %}
    </div>
{% endblock %}