{% extends "base.html" %} 

{% block titulo %}John Serrano | Curriculum{% endblock %}

{% block encabezado %}
   <section class="imagen-header" id="cv">
      <img src="{{STATIC_URL}}img/oficina_3.jpg" alt="Fondo" title"John Serrano"/> 
     <!--  <div class="circular_header"><img src="" alt="" /></div> -->
      <h1>Curriculum</h1>
    <!--   <p>Desarrollador web en constante proceso de aprendizaje, <br>me gusta mejorar y aprender algo nuevo cada día, me apasiona la tecnología web y el desarrollo de esta misma.</p> -->
   </section>
{% endblock %}

{% block contenido %}
	<section class="contenido">
		<h1><span class="icon-briefcase"></span> Plásticos Formosa</h1>
		<h3>Desarrollador Web</h3>
		<h4>Agosto 2012 - Enero 2013 (6 meses)</h4>
		<p>Estuve encargado en la creación de una aplicación para hacer múltiples conexiones desde cualquier parte para manejar inventarios, aparte cree una pequeña aplicación para hacer una votaciones para elegir un encargado de planta.</p>

		<br><hr><br>
		<h1><span class="icon-briefcase"></span> Clínica San Diego</h1>
		<h3>Desarrollador Web Freenlance</h3>
		<h4>Freenlance</h4>
		<p>Desarrolle una pequeña aplicación para llevar el control diario de las citas que se sacaban para luego imprimirlas y verla en formato PDF todo esto ligados a sus respectivos médicos.</p>

		<br><hr><br>
		<h1><span class="icon-briefcase"></span> Prestamos Aj</h1>
		<h3>Desarrollador Web Freenlance</h3>
		<h4>Freenlance</h4>
		<p>Desarrolle una aplicación para realizar prestamos llevar control de clientes fechas de pagos hacer pagos tener una cajas como base, gastos e intereses de cada prestamo.</p>

		<br><hr><br>
		<h1><span class="icon-briefcase"></span> Proyectos Personales</h1>
		<h3>Ganancias y Gastos</h3>
		<h4>Freenlance</h4>
		<p>Esta aplicación se desarrolló con el fin de llevar un control sobre lo que ganamos y lo que gastos durante la vida laboral, y con el dinero que contamos disponible para gastar.</p>

		<br><hr><br>
		<h1>Estudios</h1><br>
		<h1><span class="icon-books"></span> SENA</h1>
		<h3>Tecnólogo en Análisis y Desarrollo de Sistemas</h3>
		<h4>(2011 - 2012)</h4>

		<br><hr><br>
		<h1><span class="icon-books"></span> Platzi, Inc.</h1>
		<h3>Educación Online</h3>
		<h4>(2013 - 2014)</h4>
		<p>Curso de Programación básica, todos los conceptos básicos que se necesitas tener para comenzar en este mundo de la programación y el desarrollo web.</p>

		<br><hr><br>
		<h1><span class="icon-books"></span> Bootcamps, Apps.co.</h1>
		<h3>Educación Online</h3>
		<h4>(2013 - 2014)</h4>
		<p>Desarrollo Web, Cursos sobre Diseño web, Frontend, Backend, Node.js, Python y Django, Android etc....</p>

	</section>
{% endblock %}